body{
    background-color: black;    
}

#Entero{
	color: rgb(255, 17, 235);
}

#Flotante{
	color: dodgerblue;
}

#Comentario{
	color:rgb(145, 133, 133);
}

#Variable{
	color:yellow;
}

#String{
	color:darkgreen;	
}

#Asignacion{
	color:white;
}

#Logico{
	color:#D291DC;
}

#Aritmetico{
	color:cyan;
}

#Constante{
	color:rgb(13, 255, 45);
}

#Puntuacion{
	color:salmon;
}

#Invalido{
	color:red;
}