body{
    background-color: black;    
}

#Entero{/*Morado*/
	color: rgb(255, 17, 235);
}

#Flotante{/*Azul*/
	color: dodgerblue;
}

#Comentario{/*Gris*/
	color:rgb(145, 133, 133);
}

#Variable{
	color:yellow;
}

#String{
	color:orangered;	
}

#Asignacion{
	color:white;
}

#Logico{
	color:#D291DC;
}

#Aritmetico{ /*Azul clarito*/
	color:cyan;
}

#Constante{ /*verde*/
	color:rgb(13, 255, 45);
}

#Puntuacion{ /*naranja*/
	color:salmon;
}

#Invalido{ /*rojo*/
	color:red;
}